@font-face {
  font-family: "D7MI";
  src: url("DSEG7Modern-Italic.woff") format("woff");
}

@font-face {
  font-family: "D7MBI";
  src: url("DSEG7Modern-BoldItalic.woff") format("woff");
}

@font-face {
  font-family: "D14MI";
  src: url("DSEG14Modern-Italic.woff") format("woff");
}
.D7MI {
  font-family: "D7MI";
}

.D7MBI {
  font-family: "D7MBI";
}

.D14MI {
  font-family: "D14MI";
}

.Display-Frame {
  color: black;
  position: absolute;
  left: 0;
  top: 0;
  border: 6px solid #000;
  border-radius: 9px;
  height: 540px;
  width: 960px;
  background-image: url("m5.background.png");
}

.Display-Time-Background {
  color: black;
  z-index: 50;
  position: absolute;
  top: 13px;
  left: 220px;
  color: rgba(0, 0, 0);
  font-size: 35px;
}

.Display-Time-Front {
  color: black;
  z-index: 100;
  position: absolute;
  bottom: 50px;
  left: 270px;
  font-size: 35px;
}

.Display-Temperature-Front {
  color: black;
  z-index: 100;
  position: absolute;
  top: 50px;
  margin-left: -150px;
  font-size: 230px;
}

.Display-Humidity-Front {
  color: black;
  z-index: 100;
  position: absolute;
  top: 320px;
  left: 450px;
  font-size: 50px;
}
