@font-face {
  font-family: "Ubuntu";
  src: url("UbuntuMonoNerdFontComplete.ttf") format("woff");
}

body {
  padding: 0;
  font-size: 0.9em;
  font-family: "Ubuntu";

  margin: 10px auto;
  color: #333333;
  background-color: aliceblue;
}

html {
  box-sizing: border-box;
}

*,
::before,
::after {
  box-sizing: inherit;
}

.center {
  margin-left: 2em;
}

.picture {
  border: 0px;
  border-radius: 1em;
  box-shadow: 0.75em 0.75em 1em 0em rgba(0, 0, 0, 0.55);
  margin-bottom: 1em;
}

header,
nav,
nav a,
article,
section,
aside,
footer {
  border-radius: 0.5em;
  border: 1px solid;
  padding: 10px;
}

header {
  background: #f1f3f4;
  border-color: #d5d5d5;
}

nav {
  font-size: 0.91em;
  padding: 0;
  background: #fffbf0;
  border-color: #e7c157;
}

nav th {
  text-align: left;
}

section {
  background: #f1f3f4;
  border-color: slateblue;
}

article {
  background: #ffede0;
  border-color: #df6c20;
}

aside {
  background: #ebf5d7;
  border-color: #8db243;
}

footer {
  background: #e4ebf2;
  border-color: #8a9da8;
  visibility: hidden;
}

footer p {
  float: right;
  margin: 0;
}

@media (min-width: 32em) {
  nav {
    float: left;
    width: 15em;
  }
  main {
    margin-left: 15em;
  }
}
